<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
</head>
<body>
<h2>insert data</h2>
<form method="post" action="/insert/">
  {% csrf_token %}
  <p>Name : <input type="text" name="name"/></p>
  <p>Sex  : <input type="text" name="sex"/></p>
  <p>DOB  : <input type="text" name="dob"/></p>
  <p>Email: <input type="text" name="email"/></p>
  <p>Phone: <input type="text" name="phone"/></p>
  <p>Addr : <input type="text" name="addr"/></p>
  <p><button type="submit">Add</button></p>
</form>
</body>
</html>